<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles.css"/>
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>
    <body class="text-center">
        <div id="login-wrapper">
        <img class="mb-4" src="/static/img/farris.png" height="70%">
        <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
        <form id="form-signin" method="POST" action="/reset_username">
            <label for="email" class="sr-only"></label>
                <input type="text" title="email" placeholder="email" name="email" autofocus class="form-control"/>
            </label>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="reset_username">Reset password</button>
                <a class="forgot" href="login">Login</a>
        </form>
        </div>
</body>

