
<div id="mainpage_sidebar">
  <ul>
    {{#each items}}
    <li>
      {{{ name }}}
      {{{ description }}}

      <form method="POST" action="/request-invite" >
        <div class="request-invite-container-container">

          <h5>Request invite</h5>
          <input  class="form-control" type="text" placeholder="youremail@emailstuff.somewhere" name="email" >
          <div class="clearfix">
            <button class="link" type="submit">Get Invite</button>
          </div>
        </div>
      </form>
    </li>
    {{/each}}
  </ul>
</div>
