<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/styles.css"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
      {{> nav }}
      {{~> page }}
  </body>
</html>
