<div id="workshop-wrapper">

  <form method="POST" action="/dashboard/workshop" >
    <div class="post-workshop-container-container">
      <h1>Post workshop</h1>
      <p>Fill in stuff to post a workshop!</p>
      <br>
      <label  class="sr-only" for="workshop-name">Workshop name</label>
      <input  class="form-control" type="text" placeholder="Workshop name" name="name" >
      <br> 
      <label  class="sr-only" for="workshop-description">Description</label>
      <input  class="form-control" type="text" placeholder="Description" name="description" >
      <br>
      <label  class="sr-only" for="workshop-location">Location</label>
      <input  class="form-control" type="text" placeholder="Location" name="location" >
      <br>
      <label  class="sr-only" for="workshop-date">Date</label>
      <input  class="form-control" type="date" placeholder="Date" name="date" >
      <br>
      <label  class="sr-only" for="workshop-starttime">Start time</label>
      <input  class="form-control" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" placeholder="Start time" name="start_time" >
      <br>
      <label  class="sr-only" for="workshop-endtime">End time</label>
      <input  class="form-control" type="text" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]" placeholder="End time" name="end_time" >
      <br>
      <label  class="sr-only" for="workshop-is-private">Private</label>
      <input  class="form-control" type="text" placeholder="Private" name="private" >
      <br>

      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="postbtn">Post</button>
      </div>
    </div>
  </form>

</div>
